.checkout{
    width:90%;
    margin:40px auto;
}

.checkout h1{
    color:#D62828;
    text-align:center;
    margin-bottom:30px;
}

.checkout-box{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:30px;
}

.customer,
.summary{
    background:white;
    padding:30px;
    border-radius:15px;
    box-shadow:0 5px 15px rgba(0,0,0,.1);
}

.customer h2,
.summary h2{
    margin-bottom:20px;
    color:#D62828;
}

.customer input{
    width:100%;
    padding:14px;
    margin-bottom:15px;
    border:1px solid #ddd;
    border-radius:8px;
    font-size:15px;
}

.summary-item{
    display:flex;
    justify-content:space-between;
    margin-bottom:15px;
}

.summary button{
    width:100%;
    margin-top:20px;
    padding:15px;
    border:none;
    border-radius:10px;
    background:#F77F00;
    color:white;
    font-size:16px;
    cursor:pointer;
}

.summary button:hover{
    background:#D62828;
}

@media(max-width:768px){

.checkout-box{
    grid-template-columns:1fr;
}

}